{% extends 'base.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}
    <h1>{{ 'produit.new'|trans }}</h1>

    {{ include('produit/_form.html.twig') }}

    <a href="{{ path('produit_index') }}">{{ 'produit.accueil'|trans }}</a>
{% endblock %}
